

.tutorialNavigation{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}
.navigationContainer{
  display: flex;
  list-style:none;
  gap:30px;
}

.box-link{
  padding:50px;
  text-decoration: none;
  background-color: aqua;
  border: 1px solid black;
  text-decoration: none;

}
